.password-infor-content{
    height: 160px;
    width: 100%;
    background:#ffffff;
    position: absolute;
    top:50px;
    left:2px
}
.password-top-margin{
    margin-top: 17px;
}
.password-inline-height{
    font-size: 14px;
    height: 43px;
    color:#333333;
    vertical-align: middle;
    line-height: 20px;
}
.password-inline-height input{
    width: 120px;
    height:20px;
    background: #ffffff;
    border: 1px solid #808080;
    padding-left: 5px;
    margin-top: 1px;

}
.prompt{
    padding-left:19px;
    color:#b2b2b2;
}
.password-btn-save{
    position: absolute;
    left:19px;
    top: 202px;
    background:#41b0e3;
    color: #f6f6f6;
    width: 100px;
    height:30px;
    font-weight: 600;
}
.password-btn-save:hover,.password-btn-save:focus{
    background:#41b0e3;
    color: #f6f6f6;
}
.left-width{
    display: inline-block;
    min-width: 122px;
    padding-left:19px;
}
