.clear{
    clear: both;
}
p{
    margin: 0;
    padding: 0;
}
a{
    cursor: pointer;
}
template{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.min-width{
    width: 1166px;
    margin: 0 auto;
}
.find-header-container{
    width: 1166px!important;
    margin: 0 auto;
    height: 70px;
}
.nav>li>a{
    height: 80px;
    padding-right: 11px;
    padding-left: 11px;
    margin-right: 7px;
}
.navbar{
    border-radius: 0;
}
.navbar-brand{
    padding: 13px 7px 15px 0;
}

.header-gray{
    background-color: #1d2b33;
    border-color: #1d2b33;
}
.navbar-inverse .navbar-nav>li>a {
    color: #f7f7f7;
    /*background-color: black;*/
    padding-top:26px;
}
.find-header-right{
    float: right;
    font-size: 17px!important;
    line-height: 70px;
    font-weight: 500;
}
.login{
    color:#43afe4;
    padding-right:4px;

}
.find-return,.find-header-right span{
    color: #b3b4b1;
}
.find-return{
    padding-left:4px;
}
.find-return:hover{
    color: #b3b4b1;
}
.header-middle{
    min-height:121px;
    background-color:#ffffff;

}
.middle{
    min-height:452px;
    background-color:#ffffff;

}
.find-footer-bottom-bk{
    background: #1f2326;
    min-width: 1166px;
    width: 100%;
    position:absolute;
    bottom:0px;
    left:0px;
}
.find-footer-bottom{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #d9d9d9;
    font-size: 12px;
    color: #535353;
    font-weight: 600;
    text-align: center;
    height: 40px;
    line-height:40px;
}
.title-border{
    border-bottom:2px solid #f2f2f2;
    margin-bottom:60px;
}
.find-password-title{
    min-width: 192px;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 17px 0 0 0;
    height:119px;

}
.find-password-title div{
    float: left;
}
.find-password-title .lock{
    margin-right: 8px;
    width: 60px;
    height: 78px;
    text-align: center;
}
.find-password-title span{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 28px;
    color:#323232;
    line-height: 72px;

}
.step-bk1{
    width:872px;
    height: 40px;
    background: url("../../public/static/images/img/login/step1.png") no-repeat;
    margin: 0 auto;
}
.step-bk2{
    width:872px;
    height: 40px;
    background: url("../../public/static/images/img/login/step2.png") no-repeat;
    margin: 0 auto;
}
.step-bk3{
    width:872px;
    height: 40px;
    background: url("../../public/static/images/img/login/step3.png") no-repeat;
    margin: 0 auto;
}
.step-bk4{
    width:872px;
    height: 40px;
    background: url("../../public/static/images/img/login/step4.png") no-repeat;
    margin: 0 auto;
}
.step-img{
    position: relative;
}
.step-img span{
    display: inline-block;
    font-size: 19px;
    padding: 7px 0 0 19px;
    color: #184e67;
    width:232px;

}
.step-img .step-last{
    padding:7px 0 0 0;
    width: 150px;
}
.step-img .step-middle{
    padding:7px 0 0 11px;
}
.step-img .step-active{
    color: #ffffff;
}
.step-content,.step4-content{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /*width: 301px;*/
    margin: 0 0 0 433px;
}
.step-content p,.step4-content p{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#323232;
    font-size: 16px;
    padding:22px 0 21px 0;
}
.step4-content{
    text-align: center;
    min-width: 133px;
    margin: 0 auto;
}
.step-content input{
    border: 1px solid #606389;
    border-radius: 5px;
    color:#323232;
    height: 40px;
    width: 300px;
    padding-left: 17px;
}

.step-content .re-send{
    font-size: 14px;
    /*border-bottom: 1px solid #43afe4;*/
    padding:0;
    margin: 15px 0 0 20px
    /*text-decoration:underline;*/
}
.step-content input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #b2b2b2;
}

.step-content input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #b2b2b2;
}

.step-content input:-ms-input-placeholder,
.step-content input:-ms-input-placeholder {
    color: #b2b2b2;
}

.step-content input::-webkit-input-placeholder,
.step-content input::-webkit-input-placeholder {
    color: #b2b2b2;
}

.step-content span{
    display: inline-block;
    font-size: 12px;
    color:#39afe3;
    font-weight:500;
    padding: 20px 0 0 6px;
    float: left;
    cursor: pointer;
}
.step-content .gray-span{
    cursor: not-allowed;
    color:#b2b2b2;
}
.step-content .blue-span{
    color:#39afe3;
    cursor: pointer;
}

.div-inline{
    /*margin-top: 26px;*/
}
.step-content .div-inline input{
    width: 130px;
    float: left;
}
.step-content .div-inline2 input{
    width: 160px;
    float: left;
}
.write-block{
    height:39px;
    border: 1px solid #606389;
    width: 99px;
    border-radius: 5px;
    float: left;
    margin-left: 20px;
    position: relative;
}
.write-block img{
    position: absolute;
    top: 0;
    left: 0;
    width: 97px;
    height: 37px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
}
.blue-btn,.blue-btn2,.blue-btn3{
    border-radius: 5px;
    font-size: 18px;
    color: #ffffff;
    min-width: 130px;
    height: 40px;
    background-color:#39afe3;
    margin: 5px 0 0 0;
}
.blue-btn2{
    margin: 12px 0 0 0;
}
.blue-btn3{
    margin: 1px 0 0 0;
}
.blue-btn:hover,.blue-btn:focus,.blue-btn2:hover,.blue-btn2:focus,.blue-btn3:hover,.blue-btn3:focus{
    color: #ffffff;
    border: none;
    border-shadow:none;
}
.step-content .warning-error{
    height: 25px;
    width:360px;
    margin:0 0 0 0px;
    color: red;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;

}
.step-content .warning-error div img{
    margin:4px 6px 0 0;
    float: left;
}
.step-content .warning-error div span{
    display: inline-block;
    color: red;
    float: left;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    padding: 0;
}
.red-border{
    border:1px solid red;
}
[v-cloak] {
    display: none;
}
/*#count-error,#proving-error{*/
    /*display: none;*/
/*}*/

/*.step2,.step3,.step4{*/
    /*display: none;*/
/*}*/
.
@media(max-width: 1166px){
    .header-gray,.header-black{
        width: 1166px;
    }
}
@media(max-height: 774px){
    .find-footer-bottom-bk{
        position:relative;
        /*bottom:0px;*/
        /*left:0px;*/
    }
}
.en-active{

}
.margin-bottom{
    margin-bottom: 20px!important;
}